/* .navbar {
    background-color: #4682A9;
    padding: 40px;
    margin: 0;
}
  
.brand-name {
    font-size: 24px;
    font-weight: bold;
    color: #F6F4EB;
}
   */

   .navbar {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .brand-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-item a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .nav-item a.active {
    font-weight: bold;
    text-decoration: underline;
  }
  