<!-- <div class="product-container">
    <span>ID: {{product.id}}</span>
    <h3>Title: {{product.title}}</h3>
    <h3>Description: {{product.description}}</h3>
    <h3>Price: {{product.price}}</h3>
    <button (click)="onAddToCartClick(product)" >Add To Cart</button>
</div> -->
<div class="product-card">
    <span class="product-id">ID: {{ product.id }}</span>
    <h3 class="product-title">Title: {{ product.title }}</h3>
    <p class="product-description">Description: {{ product.description }}</p>
    <p class="product-price">Price: {{ product.price }}</p>
    <button (click)="onAddToCartClick(product)">Add To Cart</button>
</div>
